<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.pilllogger"
    android:versionCode="15"
    android:versionName="1.2.3" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.google.android.backup.api_key" android:value="AEdPqrEAAAAIPN6T9VujiU3d8Os-2oEWhMkjIMFv2fvF8zYjlg" />

        <activity
                android:name=".activities.MainActivity"
                android:configChanges="orientation|keyboardHidden"
                android:label="Pill Logger"
                android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.AddConsumptionActivity" />
        <activity android:name=".activities.SettingsActivity" />
        <activity android:name=".activities.WebViewActivity" android:theme="@style/Theme.Transparent"/>
        <receiver
            android:name="uk.co.pilllogger.receivers.ReminderReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="uk.co.pilllogger.REMINDER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="uk.co.pilllogger.receivers.DelayReminderReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="uk.co.pilllogger.DELAY_REMINDER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="uk.co.pilllogger.receivers.TakeAgainReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="uk.co.pilllogger.TAKE_AGAIN" />
            </intent-filter>
        </receiver>
        <meta-data android:name="com.crashlytics.ApiKey" android:value="8adaae49f35bf4067ceaafdec4ff241f25b32838"/>
        <!--<receiver android:name=".widget.MyAppWidgetProvider" >-->
            <!--<intent-filter>-->
                <!--<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />-->
            <!--</intent-filter>-->
            <!--<meta-data android:name="android.appwidget.provider"-->
                <!--android:resource="@xml/appwidget_info" />-->
        <!--</receiver>-->
        <!--<activity android:name=".activities.AppWidgetConfigure">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>-->
            <!--</intent-filter>-->
        <!--</activity>-->
    </application>
</manifest>
