android {
  signingConfigs {
    release {
      storeFile file("../deployment/dev.jks")
      storePassword "STORE PASSWORD"
      keyAlias "pill logger"
      keyPassword "PASSWORD"
    }
  }
 
  buildTypes {
    release {
      signingConfig signingConfigs.release
    }
  }
}
